@import "https://unpkg.com/open-props/easings.min.css";

.springy {
  /* @media (prefers-reduced-motion: no-preference) {
    transition: transform 1s var(--ease-spring-3);
  } */
  transition: transform 1s var(--ease-spring-3) 0.5s, opacity 1s ease 0.5s;

  @starting-style {
    opacity: 0;
    transform: scale(0);
  }
}
@property --＠color-1 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsl(98 100% 62%);
}

@property --＠color-2 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsl(204 100% 59%);
}

@keyframes gradient-change {
  to {
    --＠color-1: hsl(210 100% 59%);
    --＠color-2: hsl(310 100% 59%);
  }
}

h1 {
  /* apply variable changes over time */
  animation: gradient-change 2s linear infinite alternate;

  background: linear-gradient(
    to right in oklch,
    var(--＠color-1),
    var(--＠color-2)
  );

  /* old browser support */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* modern browser version */
  background-clip: text;
  color: transparent;
}
@layer demo.support {
  h1 {
    font-size: 10vmin;
    line-height: 1.1;
  }
}
/* hover effects for links */

.link-hover-underline::after,
.link-hover-underline::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, #d93f64, #724ce6);
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}

.link-hover-underline::before {
  top: -5px;
  transform-origin: left;
}
.link-hover-underline:hover::after,
.link-hover-underline:hover::before {
  transform: scaleX(1);
}

.active::before,
.active::after {
  width: 100%;
  height: 1px;
  transform: scaleX(1);
}
