@import "https://unpkg.com/open-props/easings.min.css";

.springy {
  transition: transform 1s var(--ease-spring-3) 0.5s, opacity 1s ease 0.5s;

  @starting-style {
    opacity: 0;
    transform: scale(0);
  }
}
@property --＠color-1 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsl(310 100% 59%);
}

@property --＠color-2 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsl(204 100% 59%);
}

@keyframes gradient-change {
  to {
    --＠color-1: hsl(210 100% 59%);
    --＠color-2: hsl(310 100% 59%);
  }
}

h1 {
  /* apply variable changes over time */
  animation: gradient-change 2s linear infinite alternate;

  background: linear-gradient(
    to right in oklch,
    var(--＠color-1),
    var(--＠color-2)
  );

  /* old browser support */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* modern browser version */
  background-clip: text;
  color: transparent;
}
@layer demo.support {
  h1 {
    font-size: 10vmin;
    line-height: 1.1;
  }
}
/* hover effects for links */

.link-hover-underline::after,
.link-hover-underline::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, #d93f64, #724ce6);
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}

.link-hover-underline::before {
  top: -5px;
  transform-origin: left;
}
.link-hover-underline:hover::after,
.link-hover-underline:hover::before {
  transform: scaleX(1);
}

.active::before,
.active::after {
  width: 100%;
  height: 1px;
  transform: scaleX(1);
}
/* card effects */
.scrollable {
  overflow: inherit !important;
}
.card-effect {
  &.light-mode-effect {
    --bg-color: #cfe3ff;
    --bg-color-light: #f4f4f4;
    --text-color-hover: #cdd5d5;
    --box-shadow-color: rgb(65 31 134 / 61%);
    transition: all 0.5s linear;
    border: 1px solid var(--bg-color-light);
  }
  &.dark-mode-effect {
    --bg-color: #1d1c29;
    --bg-color-light: #2e1a30;
    --text-color-hover: #4c5656;
    --box-shadow-color: rgba(248, 168, 215, 0.63);
    transition: all 0.5s linear;
  }
}
.card-effect::before {
  content: "";
}
.card-effect-body:::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  border-radius: 10px;
  border: 1px solid var(--bg-color-light);
  transition: all 0.5s linear;
}
.card-effect:hover {
  /* transform: scale(1.02) translateX(1px); */
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
    0 24px 46px var(--box-shadow-color);
  & .card-effect-body {
    border-color: var(--bg-color-light);
    background: var(--bg-color);
  }
}
.card-effect:hover::before {
  transform: scale(4) translateZ(0);
}
.card-effect:hover.light-mode-effect {
  /* box-shadow: 0px 1px 5px #333; */
}
.card-effect:hover.dark-mode-effect {
  /* box-shadow: 0px 0px 3px #fff; */
}
