<div id="elm-banner-container" class="banner-container"></div>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    // Load the Elm application
    const app = Elm.Banner.init({
      node: document.getElementById('elm-banner-container')
    });
  });
</script>

<script is:inline src="/elm-banner.js"></script> 